/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  color: #EEE;
  background-color: #222;
  font-size: 18px;
  line-height: 24px;
  font-family: Georgia, "Times New Roman", Times, Roman, serif;
  padding: 12px;
}

img {
  display: block;
  max-width: 100%;
  /* Full screen up to 619px (500px) */
  /* Half screen from 620px+ (250px)
}

@media screen and (min-width: 280px) {
  html {
    padding: 8.571428571%; /* 24px / 280px = 8.571428571% */
  }
}

@media screen and (min-width: 490px) {
  html {
    padding: 9.795918367%; /* 48px / 490px = 9.795918367% */
  }
}

@media screen and (min-width: 620px) {
  .photo {
    width: 50%;
    float: left;
  }
}
